{% extends templatename+"/template.html" %}

{% block content %}
 <section class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-bottom">
                    <div class="card-header">CHAT - {{ user_info2["profile"]["login"]}}</div>
                    <div class="card-body">
                        {% if canchat == True %}
                            <div class="chat">
                                <div class="chat__window">
                                    <div class="chat__rows"></div>
                                </div>
                            <textarea id="chattxt" class="form-control chat__textarea"></textarea>
                        </div>
                        {% else %}
                            Waiting on Parent Permission<br>
                            <br>
                            <button onclick="reload()">Check Again!</button>
                            <script>
                            function reload() {
                              location.reload(true);
                            }
                            </script>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .chat {
          width: 100%;
          border-radius: 5px;
          overflow: hidden;
        }
        
        .clearfix:after {
          visibility: hidden;
          display: block;
          font-size: 0;
          content: " ";
          clear: both;
          height: 0;
        }
        
        .chat__rows {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 0;
        }
        
        .chat__row:nth-child(odd) .chat__user-pic {
          float: left;
        }
        
        .chat__row:nth-child(odd) .chat__message {
          float: left;
        }
        
        .chat__row:nth-child(even) .chat__user-pic2 {
          float: right;
        }
        
        .chat__row:nth-child(even) .chat__message {
          float: right;
        }
        
        .chat__user-name {
          color: white;
          display: inline-block;
        }
        
        .chat__window {
          background: #fff;
          height: 250px;
          overflow: hidden;
          position: relative;
        }
        
        .chat__textarea {
          width: 100%;
          box-sizing: border-box;
          resize: none;
          outline: none;
        }
        
        
        .chat__user-pic {
          background: url(https://thumb7.shutterstock.com/display_pic_with_logo/1699708/679497559/stock-photo-smiling-girl-with-black-braid-avatar-userpic-dark-forelock-blue-hat-portrait-of-nice-female-679497559.jpg);
          background-size: 125%;
          background-position: 50% 40%;
          width: 30px;
          height: 30px;
        }
        
        .chat__user-pic2 {
          background: url(https://cdn1.iconfinder.com/data/icons/user-pictures/100/supportmale-512.png);
          background-size: 125%;
          background-position: 50% 40%;
          width: 30px;
          height: 30px;
        }
        
        .chat__message {
          vertical-align: top;
          background: #f3f3f3;
          padding: 5px 10px;
          border-radius: 0px 15px 15px 15px;
          max-width: 80%;
          margin-left: 5px;
          word-wrap: break-word;
          font-family: Arial;
        }
        
        .chat__wrapper {
          padding: 10px 10px;
        }
    </style>
    <script>
        
        var templateEnd = '</div></div></div>';
        var count = 0;
        
        $(".chat").each(function(index, item) {
        
          $("#chattxt").on("keydown", function(e) {
            if (e.keyCode == "13") {
              var templateStart = '<div class="chat__row"><div class="chat__wrapper clearfix"><div class="chat__user-pic"></div><div class="chat__message">';
              $(".chat__rows").append(templateStart + $(this).val() + templateEnd);
              count += $(item).find(".chat__row").last().height();
              $(".chat__rows").animate({
                "height": count + "px"
              });
              
              var templateStart2 = '<div class="chat__row"><div class="chat__wrapper clearfix"><div class="chat__user-pic2"></div><div class="chat__message">';
              $(".chat__rows").append(templateStart2 + "Hi, We are working on getting to you. Please hold while our Support Team joins the chat." + templateEnd);
              count += $(item).find(".chat__row").last().height();
              $(".chat__rows").animate({
                "height": count + "px"
              });
              
              $(this).val("");
              return false;
            }
          })
        
        })
    </script>
</section>


{% endblock %}

{% block footer %}
{% endblock %}